

<section id="login" class="login">
<h2>Login</h2>


<p>Remember that no webpage can replace the help of a professional, find one in our hospitals map.</p>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your Username">

  

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
</section>

</div>