  <div id="map"></div>
  <input type="text" id="address" value="Hospitals">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script>
  <script src="/javascripts/maps.js"></script>