  <section class="map">
  
  <div id="map"></div>
  <div class="mapForm">
    <input type="text" id="address" value="Hospitals">
    <button type="button" id="hospitals_btn">Buscar</button>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script>
  <script src="/javascripts/maps.js"></script>

  </section>