<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="hero" style="padding-bottom: 600px">

{{!--<h1><a href="/auth/login">Welcome to IronHeart!</a></h1> --}}


<svg width="106px" height="95px" viewBox="0 0 106 95" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" class="heart-svg">
  <g class="outer" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
    <g id="heart-pulse" fill-rule="nonzero" fill="currentColor">
      <path
        d="M53,95 C52.5313684,95 52.0683158,94.8826471 51.6443158,94.6479412 C50.9971579,94.2847059 35.5936842,85.6452941 21.6909474,71.8367647 C20.5974737,70.7526471 20.5918947,68.9811765 21.6742105,67.8858824 C22.7565263,66.7905882 24.5250526,66.785 25.6185263,67.8691176 C36.6592632,78.8332353 48.972,86.5673529 53,88.9702941 C57.0335789,86.5617647 69.3574737,78.8164706 80.3814737,67.8691176 C81.4749474,66.785 83.2434737,66.7905882 84.3257895,67.8858824 C85.4081053,68.9811765 85.4025263,70.7526471 84.3090526,71.8367647 C70.4007368,85.6452941 55.0028421,94.2847059 54.3556842,94.6479412 C53.9316842,94.8826471 53.4686316,95 53,95 L53,95 Z"
        id="bottom"></path>
      <path
        d="M7.13547368,50.2941176 C6.08663158,50.2941176 5.08242105,49.7017647 4.60821053,48.6902941 C1.55094737,42.18 0,35.6697059 0,29.3382353 C0,13.1602941 13.1384211,3.52659078e-16 29.2894737,3.52659078e-16 C34.7568421,3.52659078e-16 40.5645263,2.05088235 45.6413684,5.77823529 C48.6093684,7.95764706 51.1366316,10.5841176 53,13.3726471 C54.8633684,10.5841176 57.3906316,7.95764706 60.3586316,5.77823529 C65.4354737,2.05088235 71.2431579,-8.8817842e-16 76.7105263,-8.8817842e-16 C92.8615789,-8.8817842e-16 106,13.1602941 106,29.3382353 C106,35.6697059 104.449053,42.18 101.391789,48.6902941 C100.733474,50.0873529 99.0765263,50.6852941 97.6817895,50.0314706 C96.2870526,49.3776471 95.6901053,47.7123529 96.3428421,46.3152941 C99.0486316,40.5538235 100.421053,34.8426471 100.421053,29.3438235 C100.421053,16.2505882 89.782,5.59382353 76.7105263,5.59382353 C67.2095789,5.59382353 57.982,13.4229412 55.6444211,20.4473529 C55.2650526,21.5873529 54.1994737,22.3585294 53,22.3585294 C51.8005263,22.3585294 50.7349474,21.5873529 50.3555789,20.4473529 C48.018,13.4229412 38.7904211,5.59382353 29.2894737,5.59382353 C16.218,5.59382353 5.57894737,16.2505882 5.57894737,29.3438235 C5.57894737,34.8426471 6.95136842,40.5538235 9.65715789,46.3152941 C10.3154737,47.7123529 9.71294737,49.3776471 8.31821053,50.0314706 C7.93326316,50.2102941 7.53157895,50.2997059 7.13547368,50.2997059 L7.13547368,50.2941176 Z"
        id="top"></path>
      <path
        d="M58.6626316,72.6470588 L58.5901053,72.6470588 C57.4631579,72.6247059 55.4156842,72.0379412 54.3891579,68.3664706 L47.5995789,44.1470588 L43.0973684,62.4708824 C42.2158947,66.0641176 40.1684211,66.8185294 39.0247368,66.9414706 C37.8810526,67.0644118 35.722,66.7905882 34.0650526,63.4767647 L30.6842105,56.7094118 C30.5224211,56.3852941 30.3717895,56.1841176 30.2602105,56.0555882 C30.2434737,56.0779412 30.2211579,56.1058824 30.1988421,56.1394118 C28.1346316,59.1738235 23.5487368,61.465 19.5263158,61.465 L13.9473684,61.465 C12.4075789,61.465 11.1578947,60.2132353 11.1578947,58.6708824 C11.1578947,57.1285294 12.4075789,55.8767647 13.9473684,55.8767647 L19.5263158,55.8767647 C21.8750526,55.8767647 24.6645263,54.3567647 25.5906316,52.9932353 C26.8347368,51.1658824 28.6423158,50.1935294 30.5614737,50.3220588 C32.648,50.4617647 34.5113684,51.8811765 35.6773684,54.2114706 L38.16,59.185 L43.3818947,37.9329412 C44.2633684,34.3564706 46.0709474,33.5797059 47.4322105,33.5573529 C48.7934737,33.535 50.6233684,34.2558824 51.622,37.8044118 L58.7853684,63.3761765 L65.3573684,43.2138235 C66.5010526,39.7044118 68.6043158,39.1008824 69.7535789,39.0505882 C70.9028421,39.0002941 73.0451579,39.4305882 74.4789474,42.8338235 L78.5181053,52.44 C79.2768421,54.2394118 81.7427368,55.8823529 83.6897895,55.8823529 L92.0582105,55.8823529 C93.598,55.8823529 94.8476842,57.1341176 94.8476842,58.6764706 C94.8476842,60.2188235 93.598,61.4705882 92.0582105,61.4705882 L83.6897895,61.4705882 C79.5223158,61.4705882 74.9922105,58.4585294 73.3743158,54.6082353 L70.0715789,46.7511765 L62.964,68.5452941 C61.8091579,72.0882353 59.8063158,72.6414706 58.6626316,72.6414706 L58.6626316,72.6470588 Z"
        id="middle" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500"
        stroke-dashoffset="500" fill="currentColor"></path>
    </g>
  </g>
</svg>


</body>

<script src="/javascripts/svg.js"></script>
</html>