<div class="symptoms-container">
  <div class="symptoms-col">
    <div class="symptoms-row">
      <form action="/symptoms" method="POST">
      <label for="symptoms">Choose a symptom:</label>
      <select name="symptoms" id="symptoms" multiple size="5">
        {{#each symptoms}}
          <option class="option" value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <button>Get diagnostic</button>
      </form>
    </div>

    <section class="body">
          <img src="/images/dot.png" alt="" class="dot arm" id="arm">
        <img src="/images/body.png" alt="human body image" class="bodyImg">
    </section>
  </div>
</div>
