<div class="symptoms-container">
  <div class="symptoms-col">
    <div class="symptoms-row">
      <form action="/symptoms" method="POST">
      <label for="symptoms">Choose a symptom:</label>
      <select name="symptoms" id="symptoms" multiple size="5">
        {{#each symptoms}}
          <option class="sympton-options" value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <button>Get diagnostic</button>
      </form>
    </div>
    <section class="body">
      {{!-- <div class="armdiv" id="arm">
          <img src="/images/dot.png" alt="" class="dot arm">
          <div name="arm" class="menu">PRUEBA</div>
      </div> --}}

        <img src="/images/bodyimg.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="arms" title="arms" href="/symptoms/7" coords="208,195,13" shape="circle">
    <area target="" alt="abdomen" title="abdomen" href="/symptoms/16" coords="261,240,11" shape="circle">
    <area target="" alt="chest" title="chest" href="/symptoms/15" coords="261,129,11" shape="circle">
    <area target="" alt="head" title="head" href="/symptoms/6" coords="262,54,13" shape="circle">
    <area target="" alt="legs" title="legs" href="/symptoms/10" coords="285,358,11" shape="circle">
    <area target="" alt="skin" title="skin" href="/symptoms/17" coords="328,192,12" shape="circle">
</map>

    </section>
  </div>
</div>
