<div class="symptoms-container">
  <div class="symptoms-col">
    <div class="symptoms-row">
      <label for="symptoms-options">Choose a symptom:</label>
      <select name="" id="">
        {{#each symptoms}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
    </div>
  </div>
</div>

