{{!-- <div class="symptoms-container">
  <div class="symptoms-col">
   --}}
{{!--   
   <div class="symptoms-row">
      <form action="/symptoms" method="POST">
      <label for="symptoms">Choose a symptom:</label>
      <select name="symptoms" id="symptoms" multiple size="5">
        {{#each symptoms}}
          <option class="sympton-options" value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <button>Get diagnostic</button>
  
      </form> --}}


    <section class="bodySection">
      <div id="instructions"><p>Click any part of the body to indicate what are your symptoms.</p>
       <div id="symptomsList">
         <form action="/symptoms" method="POST" id="symptomsForm" class="container">
          <ul id="ulSymptoms" class="row">
          </ul>
            <button>Get your Diagnostic</button>
<img src="/images/link.png" alt="">
          </form> 
      </div>
      </div>

      <div class="body">
        <div id="armsdiv" class="hidden arms"> Hello</div>
        <div id="abdomendiv" class="hidden abdomen"> Hello</div>
        <div id="chestdiv" class="hidden chest"> Hello</div>
        <div id="headdiv" class="hidden head"> Hello</div>
        <div id="legsdiv" class="hidden legs"> Hello</div>
        <div id="skindiv" class="hidden skin"> Hello</div>





        <img src="/images/bodyimg.png" usemap="#image-map">      
        <map name="image-map">
            <area target="" alt="arms" title="Arms" id="arms" coords="208,195,13" shape="circle">
            <area target="" alt="abdomen" title="Abdomen" id="abdomen" coords="261,240,11" shape="circle">
            <area target="" alt="chest" title="Chest" id="chest" coords="261,129,11" shape="circle">
            <area target="" alt="head" title="Head" id="head" coords="262,54,13" shape="circle">
            <area target="" alt="legs" title="Legs" id="legs" coords="285,358,11" shape="circle">
            <area target="" alt="skin" title="Skin & others" id="skin" coords="328,192,12" shape="circle">
        </map>
      </div>
    </section>
    
    <section >
     

    </section>
  {{!-- </div>
</div> --}}
