<div class="symptoms-container">
  <div class="symptoms-col">
    <div class="symptoms-row">
      <form action="/symptoms" method="POST">
      <label for="symptoms">Choose a symptom:</label>
      <select name="symptoms" id="symptoms" multiple size="5">
        {{#each symptoms}}
          <option class="option" value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <button>Get diagnostic</button>
      </form>
    </div>

    <section>

    </section>
  </div>
</div>

