body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 126, 126, 0.3)
}

.hero h1 {
  position: absolute;
  top: 40vh;
  left: 38vw;
}

.hero a {
  color: black;

}
.symptoms-container {
			margin-top: 100px
}
    
.body {
  position: relative;
  margin: 20px auto;
  width: 70%;
}

.bodyImg {
  width: 100%;
  height: auto;
}

.dot {
  width: 30px;
  height: auto;
}

.arm {
  position: absolute;
  left: 38%;
  top: 35%;
}

