body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 126, 126, 0.3)
}

.hero h1 {
  position: absolute;
  top: 40vh;
  left: 38vw;
}

.hero a {
  color: black;

}
.symptoms-container {
			margin-top: 100px
}
    
.body {
  position: relative;
  margin: 20px auto;
  width: 512px;
  height: 512px;
}

.bodyImg {
  width: 100%;
  height: auto;
}

.dot {
  width: 30px;
  height: auto;
}

.arm {
  position: absolute;
  left: 35%;
  top: 38%;
}

.hidden{
  opacity: 0;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  background-color: whitesmoke;
}

.menu {
  opacity: 100;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  background-color: whitesmoke;
}

.arms {
  position: absolute;
  left: -5%;
  top: 34%;
  transition: all 1s;
}

.abdomen{
  position: absolute;
  left: 5%;
  top: 48%;
  transition: all 1s;
}

.chest {
  position: absolute;
  left: 5%;
  top: 10%;
  transition: all 1s;

}


.head {
  position: absolute;
  left: 65%;
  top: 0%;
  transition: all 1s;
}

.legs {
  position: absolute;
  left: 65%;
  top: 70%;
  transition: all 1s;
}

.skin {
  position: absolute;
  left: 70%;
  top: 30%;
  transition: all 1s;
}