* {
  // font-family: 'Slabo 27px', serif;
  font-family: 'Belleza', sans-serif;
  font-size: 1.1em;
}

button {
  margin-left: 4%;
  border: 1px solid #C2CBF4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  font-weight: bold;
  padding: 13px 25px;
  text-align: center;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 24px;
  text-shadow: 0px 1px 1px white;
  transition: 300ms
}
button:hover {
  box-shadow: 0 0 6px 6px rgba(255,255,255, .8);
}

.heart-svg {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 15em;
  margin: 25px auto;
  width: 100%;
}
#top,
#bottom {
  color: #555;
}
#middle {
  stroke: red;
	color: transparent;
  stroke-width: 1;
  animation: draw 3.5s linear infinite reverse,
		         fill 3.5s linear infinite forwards;
}

@keyframes draw {
	from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: 500;}
}

@keyframes fill {
	70% {color: transparent;}
	100% {color: red;}
}



body {
  padding-top: 80px;
  background-image: linear-gradient(to left bottom, #bbf3ff, #a0e7fe, #88d9ff, #75cbff, #6abbff, #62acf8, #5d9df1, #5c8ee8, #4c7ed7, #3b6fc7, #2960b6, #1051a6);
  min-height: 100vh;
  max-width: 100vw;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:white;
  margin: 0 10px;
  transition: all 100ms;
}

a:hover{
  color:white;
  text-shadow: 0px 1px  whitesmoke;
  text-decoration: none;
}


#layer1  g{
  opacity: 0;
  transition: opacity .5s;
}

#layer1.done g {
  opacity: 1;
}

#map {
  height: 83vh;
  width: 100%;
}

.mapForm{
  padding-top: 10px;
  display: block;
  margin: 0 42%;
  button{
    margin-left: 10px;
  }
}

nav {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 500ms;
  height: 65px;
  width: 100vw; 
  background: rgb(70, 70, 70);
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.shadow {
  box-shadow : 100 100px black;

}


@keyframes slide-top {
  0% {
            transform: translateY(0);
  }
  50% {
            transform: translateY(-10px);
  }
  100% {
            transform: translateY(0px);
  }
}

#top-arrow {
  position: absolute;
  z-index: -100;
  top: 2vh;
  left: 49vw;
  text-align: center;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

nav a {
  color: whie;
  font-weight: 900;
  margin: 0 15px;
  display: inline-block;
  margin: auto 0;
}

.hero {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #bbf3ff, #a0e7fe, #88d9ff, #75cbff, #6abbff, #62acf8, #5d9df1, #5c8ee8, #4c7ed7, #3b6fc7, #2960b6, #1051a6);
  svg {
    margin-top: 25vh;
    font-size: 20em;
  }
}

.hero h1 {
  position: absolute;
  top: 40vh;
  left: 38vw;
}

.logincontainer {
  display: inline-block;
}

.login, .signup {
  float: left;
  margin-top: 7vh;
  margin-left:  10%;
  font-size: 1.2em;
  width: 30%;
  select {
    margin: 10px;
  }
  button {
    margin: 10px;
  }
}

.login label,.signup label {
  margin: 10px 0;
  
}

.signup{
  font-size: 1.2em;
}

.login input,.signup input {
  display: flex;
  width: 30vw;
  margin: 10px;
}

.symptoms-container {
      margin-top: 100px
}

#heart {
  margin-left: 10px;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  font-size: 0.7em;
  padding: 5px 20px;
}

.profile {
  font-size: 1.2em;
  ol li{
    font-size: 1em;
  }
}

.bodyContainer {
  display: flex;
}

.bodySection {
  margin-left: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 80vh;
  width: 40vw;
}

.body {
  margin: 20px 5vw;
  position: relative;
  max-width: 100vw;
}

.bodyImg {
  position: relative;
  width: 120%;
  height: auto;
  align-items: center;
}



#instructions p{
  margin-left: 1px;
  width: 1000px;
}

#instructions ul {
  font-size: 0.9em;
  margin-left: 140px;
}

.dot {
  width: 30px;
  height: auto;
}


.hidden{
  opacity: 0;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  background-color: whitesmoke;
  p {
    font-size: 0.9em;
  }
}

.menu {
  opacity: 100;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  background-color: whitesmoke;
    p {
      font-size: 0.9em;
      width: 100px;
      margin: auto;
    }
}

.arms {
  position: absolute;
  left: 0%;
  top: 30%;
  transition: all 1s;
}

.abdomen{
  position: absolute;
  left: 5%;
  top: 48%;
  transition: all 1s;
}

.chest {
  position: absolute;
  left: 5%;
  top: 10%;
  transition: all 1s;

}


.head {
  position: absolute;
  left: 65%;
  top: 0%;
  transition: all 1s;
}

.legs {
  position: absolute;
  left: 65%;
  top: 70%;
  transition: all 1s;
}

.skin {
  position: absolute;
  left: 70%;
  top: 30%;
  transition: all 1s;
}

